# TinyWallet

## Core Config
KEYSTORE_TYPE="environment"

## Turnkey API (if KEYSTORE_TYPE is "turnkey")
API_PUBLIC_KEY="your_public_key_here"
API_PRIVATE_KEY="your_private_key_here"
BASE_URL="https://api.turnkey.com"
ORGANIZATION_ID="your_organization_id"
WALLET_ID="your_wallet_id"

## Private key (if KEYSTORE_TYPE is "environment")
ENV_PRIVATE_KEY="[YOUR KEY HERE]"

# Postgres
DATABASE_URL="postgresql://[USER]:[PASSWORD]@[HOST]:5432/[DATABASE]?schema=public"